@import "./scss/_reset";
@import "./scss/_font";
@import "./scss/_color";

.app {
    display: flex;

    .grid {
        width: 100%;
        border: 1px solid black;
        border-radius: .25rem;

        .line {
            display: flex;
            flex-flow: row;
            height: 5px;

            .row {
                flex: 0 0 5px;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, .25);
                cursor: pointer;

                &.row--alive {
                    background-color: black;
                }
            }
        }
    }

    .controls {
        flex: 0 0 200px;
        background-color: lighten(grey, 30%);
        border: 1px solid black;
        border-radius: .25rem;
        text-align: center;

        .control {
            margin: .5rem 0;

            .label {
                margin: 1rem 0;
                padding: .5rem;
                background-color: lighten(grey, 20%);
            }
        }

        input[type="number"] {
            display: inline-block;
            width: calc(50% - .5rem);
            margin: .25rem;
            padding: .25rem;
        }

        button {
            display: block;
            width: calc(100% - .5rem);
            margin: .25rem;
            padding: .25rem;
            text-align: center;
            cursor: pointer;
        }
    }
}
