$rom-black: rgba(53, 59, 72, 1);
$rom-white: rgba(245, 246, 250, 1);
$rom-blue: rgba(126, 214, 223, 1);
$rom-blue-dark: rgba(45, 52, 70, 1);
$rom-blue-light: rgba(53, 60, 78, 1);
$rom-grey: rgba(113, 128, 147, 1);
$rom-grey-light: rgba(223, 228, 234, 1);
$rom-red: rgba(252, 92, 101, 1);
$rom-orange: rgba(250, 152, 58, 1);
$rom-green: rgba(120, 224, 143, 1);
$rom-yellow: rgba(246, 185, 59, 1);

$text-shadow: 1px 1px 2px $rom-black;
