* {
    border: none;
    box-sizing: border-box;
    color: black;
    font-size: 1rem;
    line-height: 1rem;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgba(grey, .1);
}

h1, h2, h3, h4, h5 {
    padding: .5rem 0;
    font-size: 1.15rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

h1 {
    padding: 1rem 0 2rem .5rem;
    font-weight: 600;
}

a {
    color: blue;

}

p {
    padding: .5rem 0;
}
