.page--index {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem;

    .grid {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;

        .line {
            display: flex;
            flex-flow: row;
            flex: 0 0 5px;

            .row {
                flex: 0 0 5px;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, .25);
                cursor: pointer;

                &.alive {
                    background-color: black;
                }
            }
        }
    }

    .controls {
        flex: 0 0 100px;
        padding:  0 1rem;

        .round {
        }

        .submit {
            padding-top: 2rem;
        }

        input[type="number"] {
            display: block;
            width: 100%;
            padding: .5rem;
            margin: 1rem;
        }

        button {
            display: block;
            width: 100%;
            padding: .5rem;
            margin: 1rem;
            text-align: center;
        }
    }
}
